* {
    box-sizing: border-box;
  }
  
  /* TITULO */
  
  #title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: violet;

    width: 100%;
    height: 90px;

    margin-bottom: 6px;
  }
  
  #title-container h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 3em;
    text-align: center;

    color: black; 
  }
  
  /*SUBTITULO*/
  
  #subtitle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: black;

    margin-bottom: 6px;
  }
  
  #subtitle-container marquee {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 50%;
    height: 40px;
    font-family: 'Krona One', sans-serif;
    color: white;
  }
  
  /*IMAGEN PREGUNTAS*/
  
  #main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 6px;
  }

  .question-container {
    width: 50%;
    height: 70vh;

    background: violet;

    margin-right: 6px;
  }

  .second-container {
    margin-left: 27.5%;
    margin-top: 10%;
}

  .second-container h3 {
    font-family: 'Krona One', sans-serif;
    font-size: 1em;
  }

  .format-input {
    overflow: scroll;

    width: 200px;
    height: 60px;

    font-family: 'Krona One', sans-serif;
    font-size: .65em;
    font-weight: 300;
    text-align: center;

    color: black;
  }

  .button {
    height: 40px;
    width: 40px;

    border-radius: 45%;

    background: black;
    color: white;

    margin-left: 15px;

    cursor: pointer;
  }

  .container-button-decode{
    display: flex;
    flex-direction: row;

  }

  .button-02 {
    margin: auto 0;
    margin-left: 19px;
  }

  .code-result {
    width: 200px;
    height: 60px;

    background: white;

    text-align: center;
    padding-top: 6%;

    font-family: 'Krona One', sans-serif;
    font-size: .7em;
  }

  .decode-result {
    width: 200px;
    height: 60px;

    background: white;

    text-align: center;
    padding-top: 6%;

    font-family: 'Krona One', sans-serif;
    font-size: .7em;
  }

  /*IMAGEN*/
  
  .img-container {
    width: 50%;
    height: 70vh;

    background: url("img/img-illus-02-05.jpg") no-repeat, black;
    background-size: contain;
    background-position-x: center;
  }

  .img-container img {
    width: 120%;
    height: 100%;
  }
  
  /*FOOTER*/
  
  #footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 10vh;

    background: violet;
  }
  
  .footer{
    width: 100%;
    height: 50px;
    margin: 2px;
    
    margin: 2px;
    text-align: center;
    color: white;
    font-family: 'Krona One', sans-serif;
    font-size: .75em;
    padding-top: .5%;
  }